@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
  margin: 0;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Nunito', sans-serif;
  max-width: 720px;
  background-color: black;
  color: white;
}

a{
  color: #2CB67D;
  text-decoration: none;
}
